<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  
   
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
  <style>
  #app{
      background-color:#CFD8DC;      
  }
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>   
       <!--<h2 class="text-center">CRUD usando APIREST con Node JS</h2>-->
       <!-- Botón CREAR -->  
       <v-flex class="text-center align-center">
       <v-btn class="mx-2 mt-4"  fab dark color="#00B0FF" @click="formNuevo()"><v-icon dark>mdi-plus</v-icon></v-btn>           
       </v-flex>              
         
        <v-card class="mx-auto mt-5" color="transparent" max-width="1280" elevation="8">                    
      
        <!-- Tabla y formulario -->
        <v-simple-table class="mt-5">
            <template v-slot:default>
                <thead>
                    <tr class="indigo darken-4">
                        <th class="white--text">ID</th>
                        <th class="white--text">NAME</th>
                        <th class="white--text">DESCRIPTION</th>
                        <th class="white--text">IMAGE</th>
                        <th class="white--text">BRAND</th>
                        <th class="white--text">PRICE</th>
                        <th class="white--text">PRICE SALE</th>
                        <th class="white--text">CATEGORY</th>
                        <th class="white--text">STOCK</th>
                        <th class="white--text text-center">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="producto in productos" :key="producto.id">
                      <td>{{ producto.id }}</td>
                      <td>{{ producto.name }}</td>
                      <td>{{ producto.description }}</td>
                      <td>{{ producto.image }}</td>
                      <td>{{ producto.brand }}</td>
                      <td>{{ producto.price }}</td>
                      <td>{{ producto.price_sale }}</td>
                      <td>{{ producto.category }}</td>
                      <td>{{ producto.stock }}</td>
                    <td>
                        <v-btn fab dark color="#00BCD4" small @click="formEditar(producto.id,producto.name,producto.description,producto.image,producto.brand,producto.price,producto.price_sale,producto.category,producto.stock)"><v-icon>mdi-pencil</v-icon></v-btn>
                        <v-btn fab dark color="#E53935" small @click="borrar(producto.id)"><v-icon>mdi-delete</v-icon></v-btn>
                    </td>
                    </tr>
                </tbody>
            </template>
        </v-simple-table>
        </v-card>        
      <!-- Componente de Diálogo para CREAR y EDITAR -->
      <v-dialog v-model="dialog" max-width="500">        
        <v-card>
          <v-card-title class="blue darken-2 white--text">Product</v-card-title>    
          <v-card-text>            
            <v-form>             
              <v-container>
                <v-row>
                  <input v-model="producto.id" hidden></input>
                  <v-col cols="12" md="4">
                    <v-text-field v-model="producto.name" label="Description" solo required>{{producto.name}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field v-model="producto.description" label="Description" solo required>{{producto.description}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field v-model="producto.image" label="Image" solo required>{{producto.image}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field v-model="producto.brand" label="Brand" solo required>{{producto.brand}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field v-model="producto.price" label="Price" type="number" prefix="$" solo required></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field v-model="producto.price_sale" label="Price Sale" type="number" prefix="$" solo required></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field v-model="producto.category" label="category" solo required>{{producto.category}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field v-model="producto.stock" label="Stock" type="number" solo required></v-text-field>
                  </v-col>
                </v-row>
              </v-container>            
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="dialog=false" color="blue-grey" dark>Cancelar</v-btn>
            <v-btn @click="guardar()" type="submit" color="blue darken-2" dark>Guardar</v-btn>
          </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.7/vuetify.min.js" integrity="sha512-BPXn+V2iK/Zu6fOm3WiAdC1pv9uneSxCCFsJHg8Cs3PEq6BGRpWgXL+EkVylCnl8FpJNNNqvY+yTMQRi4JIfZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>

    let url = 'http://localhost:8000/LaravelApiRest/productos/';

    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
       data() {
        return {            
            productos: [],
            dialog: false,
            operacion: '',            
            producto:{
                id: null,
                name:'',
                description:'',
                image:'',
                brand:'',
                price:'',
                price_sale:'',
                category:'',
                stock:''
            }          
        }
       },
       created(){               
            this.mostrar()
       },  
       methods:{          
            //MÉTODOS PARA EL CRUD
            mostrar:function(){
              axios.get(url)
              .then(response =>{
                this.productos = response.data;                   
              })
            },
            crear:function(){
                let parametros = {descripcion:this.producto.descripcion, precio:this.producto.precio,stock:this.producto.stock };                
                axios.post(url, parametros)
                .then(response =>{
                  this.mostrar();
                });     
                this.producto.descripcion="";
                this.producto.precio="";
                this.producto.stock="";
            },                        
            editar: function(){
            let parametros = {descripcion:this.producto.descripcion, precio:this.producto.precio, stock:this.producto.stock, id:this.producto.id};                            
            //console.log(parametros);                   
                 axios.put(url+this.producto.id, parametros)                            
                  .then(response => {                                
                     this.mostrar();
                  })                
                  .catch(error => {
                      console.log(error);            
                  });
            },
            borrar:function(id){
             Swal.fire({
                title: '¿Confirma eliminar el registro?',   
                confirmButtonText: `Confirmar`,                  
                showCancelButton: true,                          
              }).then((result) => {                
                if (result.isConfirmed) {      
                      //procedimiento borrar
                      axios.delete(url+id)
                      .then(response =>{           
                          this.mostrar();
                       });      
                      Swal.fire('¡Eliminado!', '', 'success')
                } else if (result.isDenied) {                  
                }
              });              
            },

            //Botones y formularios
            guardar:function(){
              if(this.operacion=='crear'){
                this.crear();                
              }
              if(this.operacion=='editar'){ 
                this.editar();                           
              }
              this.dialog=false;                        
            }, 
            formNuevo:function () {
              this.dialog=true;
              this.operacion='crear';
              this.producto.name='';                           
              this.producto.description='';
              this.producto.brand='';
              this.producto.price='';                           
              this.producto.price_sale='';
              this.producto.category='';
              this.producto.stock='';
            },
            formEditar:function(id, descripcion, precio, stock){
              //capturamos los datos del registro seleccionado y los mostramos en el formulario
              this.producto.id = id;
              this.producto.descripcion = descripcion;                            
              this.producto.precio = precio;
              this.producto.stock = stock;                      
              this.dialog=true;                            
              this.operacion='editar';
            }
       }      
    });
  </script>
</body>
</html> 